@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.home-wrapper-main {
  background-color: #e4d5ba;
}

.home-section1 {
  width: 100%;
  height: 100vh;
}
.hero-banner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333333;
  /* border-radius: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transform: translateY(110%);
  opacity: 0;
}
#back-btn {
  position: absolute;
  color: #e4d5ba;
  top: 2vw;
  left: calc(1vw + 15px);
  cursor: pointer;
  z-index: 99;
  font-size: 16px;
  opacity: 0;
  display: none;
}

.corner {
  opacity: 0;
}
#corner1 {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 25%;
}
#corner2 {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 20%;
}
#banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}
.hero-banner img {
  width: 30%;
  color: #d1ab68;
}
#banner-content p {
  font-size: 15px;
  color: #d3aa66;
  margin: 25px 0;
  text-transform: uppercase;
}
#banner-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding: 10px 60px;
  padding-right: 10px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #d1ab68;
  overflow: hidden;
  width: fit-content;
  margin: 0 auto;
}
.banner-btn-bottom {
  background-color: #d1ab68 !important;
  margin-top: 2vw !important;
}
.banner-btn-bottom h6 {
  color: #e4d5ba !important;
}
.banner-btn-bottom:hover h6 {
  color: #222222 !important;
}
#banner-btn-cir {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #e4d5ba;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font-size: 12px;
}
.banner-btn-bottom #banner-btn-cir {
  background-color: #222222;
  color: #e4d5ba;
}
.banner-btn-bottom #banner-btn-cir::after {
  background-color: #222222;
}
#icon-btn {
  overflow: hidden;
}
#banner-btn-cir i {
  position: relative;
  width: 20px;
  height: 20px;
  transform: translate(-100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transition: all ease 0.4s;
}
#banner-btn:hover #banner-btn-cir i {
  transform: translate(0%, 0%);
}
#banner-btn:hover #banner-btn-cir::after {
  transform: translate(-50%, -50%) scale(0);
}
#banner-btn-cir::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e4d5ba;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  transition: all ease 0.3s;
  pointer-events: none;
}

#banner-btn h6 {
  color: #333333;
  text-transform: uppercase;
  font-size: 11px;
  position: relative;
  z-index: 5;
}
#banner-btm {
  width: 100%;
  padding: 1vw;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2vw;
  z-index: 999;
}
#info-container {
  display: flex;
  align-items: start;
  gap: 10px;
  width: fit-content;
  padding: 8px 15px;
  border-radius: 50px;
  height: fit-content;
  color: transparent;
  transition: all ease 0.1s;
  opacity: 0;
}

#info-icon {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  border: 1px solid #e4d5ba;
  display: inline-block;
  color: #e4d5ba;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
}
#info-icon:hover {
  background-color: #e4d5ba;
  color: #333333;
}
#info-container p {
  font-size: 11px;
  font-weight: 200;
  letter-spacing: 0.5px;
  transition: all ease 0.1s;
  cursor: default;
}
#banner-btm > p {
  font-size: 11px;
  font-weight: 200;
  letter-spacing: 0.5px;
  cursor: default;
  color: white;
  display: flex;
}

#banner-card-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8vw 11vw;
  padding-top: 6vw;
  z-index: 9;
  display: none;
  flex-direction: column;
  align-items: start;
}
#que1 {
  color: #e4d5bae4;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  opacity: 0;
  position: relative;
  font-weight: 500;
}
#question2 {
  position: absolute;
  left: 0;
  opacity: 0;
}
#count {
  position: absolute;
  right: 0;
  display: flex;
  align-items: start;
}
#que-count {
  opacity: 0.7;
  font-size: 12px;
  letter-spacing: 1px;
}
#que-count span {
  margin-bottom: 20px;
}
#subtitle {
  color: #e4d5ba8b;
  font-weight: 200;
  margin-top: 2px;
  opacity: 0;
  display: none;
}
.banner-card {
  position: relative;
  width: 29.5%;
  height: 100%;
  background-color: #e4d5ba;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transform: translateY(150%);
  opacity: 1;
  transition: opacity ease 0.3s;
}

.card-wrapper {
  height: 100%;
  margin-top: 1.5vw;
  position: relative;
}
#cards {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.banner-card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  object-fit: cover;
}
.banner-card:nth-child(3) img {
  width: 100%;
}
.banner-card p {
  color: #333333;
  font-size: 15px;
  text-transform: capitalize;
  padding: 0.7vw 1.5vw;
  border-bottom: 1px solid #33333354;
  width: 100%;
}
.banner-card h3 {
  color: #333333;
  font-size: 15px;
  padding: 1.5vw;
  line-height: 1.2;
  border-bottom: 1px solid #333333;
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  gap: 1vw;
}
.input-half{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-half form{
  width: calc(50% - .5vw);
}

.form-container2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  gap: 1vw;
}

.form-container .forms {
  transform: translateY(500%);
  opacity: 0;
}
.form-container2 .forms-pt2 {
  transform: translateY(500%);
  opacity: 0;
}

.input-container {
  width: 100%;
  background-color: #e4d5ba;
  border-radius: 10px;
}

.input-box {
  opacity: 0;
}
.input-box2 {
  opacity: 1;
}
.input-box > p {
  font-size: 13px;
  color: #333333;
  padding: 0.7vw 1.5vw;
  border-bottom: 1px solid #33333352;
}
.input-box2 > p {
  font-size: 13px;
  color: #333333;
  padding: 0.7vw 1.5vw;
  border-bottom: 1px solid #33333352;
}
.input-wrapper {
  padding: 1.2vw 1.5vw;
  display: flex;
}
.input-wrapper {
  padding: 1.2vw 1.5vw;
  display: flex;
}
.input-wrapper input {
  font-size: 13px;
  font-weight: 500;
  padding: 5px 0;
  width: 100%;
  color: #333333;
  background-color: transparent;
  border: none;
  outline: none;
}
.input-wrapper input::placeholder {
  color: #222222a0;
  font-weight: 400;
}

.done-btn {
  background-color: #222222;
  border-radius: 50px;
  cursor: pointer;
  color: #e4d5ba;
  transition: all ease 0.3s;
}

.done-btn.btn-hover:hover {
  background-color: #d1ab68;
  color: #222222;
}

.done-btn p {
  position: relative;
  border: none;
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 30px;
  height: 35px;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: all ease .2s;
}
.wedding-answer{
  display: flex;
  align-items: center;
}
.wedding-details-input{
  display: flex;
  align-items: center;
  gap: 2vw;
}
.wedding-details{
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
}
.done-date-picker{
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 5px;
  color: #333333;
}

.done-date-picker p{
  white-space: nowrap;
  display: flex;
  align-items: center;
}


.checkbox{
  font-size: 18px;
  margin-left: 10px;
  margin-right: -10px;
  transition: all ease .3s;
  display: none;
}

.option-btn {
  margin-right: 1vw;
}

#home-section2 {
  width: 100%;
  min-height: 100vh;
  padding: 3vw;
}

#home-section2 h2 {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

#date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 5px;
  margin-bottom: 50px;
}
.text-wrap-d {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 17px;
}

.text-wrap-d p {
  opacity: 0.6;
}

#about-text-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 auto;
  text-align: center;
}

#scrollformore{
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
  overflow: hidden;
}
#scrollformore p{
  padding: 0;
  margin: 0;
  color: #d1ab68;
}
.pbtm{
  position: absolute;
  top: 100%;
}
#scrollformore p span{
  display: inline-block;
}

.submit-slide{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #333333;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.submit-slide i{
  font-size: 50px;
  color: #d1ab68;
}
.submit-slide h4{
  color: #e4d5ba;
  font-size: 1.5vw;
}
.submit-slide p{
  color: #e4d5ba6c;
}

@media (max-width: 400px) {
  .home-section1 {
    height: 100svh;
    padding: 0 !important;
  }
  #scrollformore p {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
}
  .hero-banner{
    border-radius: 0 !important;
  }
  .input-half {
    flex-direction: column;
    align-items: center;
    gap: 3vw;
  }
  .input-half form{
    width: 100%;
  }
  #corner2 {
    width: 50%;
  }
  #corner1 {
    width: 60%;
  }
  .hero-banner img {
    width: 60%;
    color: #d1ab68;
  }
  #banner-content p {
    font-size: 15px;
    color: #d3aa66;
    margin: 25px 0;
    text-transform: uppercase;
    width: 70%;
    text-align: center;
  }
  #banner-btm {
    padding-right: 0;
    padding: 3vw;
    bottom: 1%;
  }
  #back-btn {
    top: 5vw;
    left: 3.5vw;
    font-size: 18px;
  }
  #count {
    position: absolute;
    right: 0;
    top: -12vw;
  }
  #subtitle {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    width: 90%;
  }
  .form-container {
    gap: 3vw;
    user-select: none;
    overflow-y: auto;
    height: 71vh;
  }
  .form-container2 {
    gap: 3vw;
    user-select: none;
  }
  .data-picker-wrapper{
    display: flex;
    flex-direction: column !important;
  }

  .wedding-details{
    flex-direction: column;
    align-items: start;
  }
 
  .wedding-details-input{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 3vw;
  }
  .done-btn p {
    border: none;
    text-transform: uppercase;
    font-size: 9px;
    padding: 8px 20px;
    font-weight: 500;
    white-space: nowrap;
  }
  .option-btn {
    margin-right: 1vw;
  }

  .btn-wrap-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
  }
  .input-box > p {
    font-size: 13px;
    padding: 3vw 3vw;
  }
  .input-box2 > p {
    font-size: 13px;
    padding: 3vw 3vw;
  }
  .input-wrapper {
    padding: 3vw 3vw;
    display: flex;
    width: 100%;
  }

  #dateInput{
    display: flex;
    width: 100%;
  }

  .card-wrapper {
    margin-top: 2vw;
  }
  #cards {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
  }
  #banner-card-container {
    padding: 45vw 4vw;
    padding-top: 20vw;
  }
  .banner-card {
    width: 83%;
    flex-shrink: 0;
    border-radius: 10px;
    margin-right: 2vw;
  }
  .banner-card:nth-child(3) {
    margin: 0;
  }
  .banner-card p {
    font-size: 16px;
    padding: 3vw 5vw;
  }
  .banner-card h3 {
    color: #333333;
    font-size: 15px;
    padding: 5vw 2vw;
    line-height: 1.2;
    border-bottom: 1px solid #333333;
  }
  #que1 {
    color: #e4d5bae4;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    opacity: 0;
    position: relative;
    font-weight: 500;
  }
  #info-container {
    align-items: center;
    justify-content: space-between;
    padding: 8px 14px;
  }
  #info-icon {
    width: 18px;
    height: 18px;
    font-size: 9px;
    flex-shrink: 0;
  }
  #info-container p {
    font-size: 9px;
  }
  #home-section2 {
    width: 100%;
    min-height: 100vh;
    padding: 5vw;
  }
  #home-section2 h2 {
    font-size: 35px;
    text-align: start;
  }
  #date-container {
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  #about-text-container {
    width: 100%;
    gap: 25px;
    text-align: start;
  }

  .submit-slide h4 {
    color: #e4d5ba;
    font-size: 4.5vw;
}
.submit-slide p {
  color: #e4d5ba6c;
  text-align: center;
  font-size: 13px;
  width: 70%;
}
}
